<style>
    html {
        box-sizing: border-box;
    }
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: inherit;
    }
    html,
    body {
        height: 100%;
        padding: 12px;
    }
    :root {
        font-size: 16px;
        font-family: sans-serif;
    }
    .btn-success {
        font-size: 20px;
        /* font-size: inherit; */
        margin: 12px 0;
        padding: 6px 18px;
        color: #fff;
        background-color: #198754;
        border-color: #198754;
        border-radius: 0.375rem;
        border: 1px solid #198754;
        cursor: pointer;
    }
    p {
        padding: 6px;
    }

    h1 {
        text-align: center;
    }
    .button-wrapper{
        text-align: center;
    }
</style>
<h1>Flowers🌹</h1>
<p>
    Забули пароль??
</p>
<div class="button-wrapper">
    <a href="${ref}"   class="btn btn-success">Відновити пароль</a>
</div>